
/*.main-section{
  width: 100%;
  min-height: 100vh;
  padding: 50px 0 20px 0;
}*/

body{
  /*background-color: #fafafa !important;*/

}

.about-section {
  width: 100%;
  /*min-height: 100vh;*/
  padding: 50px 0 0px 0;
}

.portfolio-section{
  width: 100%;
  min-height: 100vh;
  padding: 50px 0 0px 0;
}

.contact-section{
  width: 100%;
  min-height: 100vh;
  padding: 50px 0 20px 0;
  position: relative;
}

.title{
  font-family: 'Julius Sans One', sans-serif;
  /*font-family: sans-serif;*/
  font-size: 50px;
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
}

.page-heading{
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 20px;
}

.navbar{
  margin: 0px !important;
}

.about-image-section{
  text-align: center;
  /*background-color: grey;*/
  background: url('/assets/images/monterey.jpg');
  background-size: 100% 100%;
  /*background-position: cover;*/
  /*background-repeat: no-repeat;*/
  height: 55vh;
  /*-webkit-filter: grayscale(50%);*/
  /*filter: grayscale(30%);*/
}

.header-link{
  letter-spacing: 3px;
  text-decoration: none;
}

.header-link:hover{
  color: red;
}

.active-link{
  color: red;
}

.about-content{ 
  /*text-align: center;*/
  text-align: justify;
}
.about-description{
  text-align: justify;
}

.project{
  /*box-shadow:  0 1px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 4px 0 rgba(0, 0, 0, 0.14);*/
  /*pa
  dding: 5%;*/
  margin: 5%;
}

.project-row{
  padding: 15px;
}

.project-image{
  width: 450px;
  height: auto;
}

.project-image-section{
  /*padding: 5%;*/
  /*float:left;*/
  text-align: center;
}

.project-details-section{
  /*padding: 0 5% 5% 5%;*/
  /*text-align: justify;*/
}

.skills {
  text-align: center;
}

.contact-icon{
  font-size: 40px;
  padding: 5px;
}

.linkedin-icon{
  color: #0077B5;
}

.contact-form{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.profile-image{
  width: 250px;
  height: 250px;
  float: left;
  margin-right: 25px;
}

.about-tab{
  position: relative;
  top: -50px;
  background-color: white;
  padding: 30px 70px 30px 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.about-text{
  /*padding: 30px;*/
  text-align: justify;
  /*font-family: 'Roboto', sans-serif;*/
  font-size: 1.2em;
  color: rgb(102,102,102);
}

.project-description, .project-techstack {
  /*font-family: 'Roboto', sans-serif;*/
  font-size: 1.1em;
  color: rgb(102,102,102);
}

.contact-image{
  width: 150px;
  height: 150px;
  margin: 10px;
}

.contact-description{
  float: left;
  margin-top: 40px;
  /*font-family: 'Roboto', sans-serif;*/
  font-size: 1.2em;
  color: rgb(102,102,102);
}

.contact-image-section{
  float: left;
  text-align: center;
  padding: 30px;
}

footer{
  display: block;
  width: 100%;
  padding: 30px;
  text-align: center;
  position: relative;
  bottom: 0px;
}
